extends layout/layout

mixin addProduct(title, demoURL, gitURL, productClass, textClass, linkClass, productIconClass, productIconAlignClass, productNameFontSizeClass, hasDescription, narrowDescriptionClass)
  .product(class=productClass, id=productClass)
    .product__text(class=textClass)
      .product__header
        .product__icon(class=productIconClass, class=productIconAlignClass)
        h2.product__name(class=productNameFontSizeClass) #{title}
      if hasDescription
        p.product__description(class=narrowDescriptionClass)
          block
    .product-links(class=linkClass)
      if demoURL
        .product-links__item: a.button.button--full-width.button--outline(href="#{demoURL}" onclick="trackOutboundLink('#{demoURL}'); return false;") Demo
      .product-links__item: a.button.button--full-width.button--outline(href="#{gitURL}" onclick="trackOutboundLink('#{gitURL}'); return false;") Github

block vars
  - bodyClass = ""

block title
  | D-CENT

block headerScripts

block content
  .header(role="banner")
    .header__inner.middle-container
      .header__logo
        span.visuallyhidden D-Cent
      h1.page_title.page_title--shadow Technologies for 21st Century democracy
      .header__intro
        p.lede.lede--shadow D-CENT is a Europe-wide project creating open, secure and privacy-aware tools for direct democracy and economic empowerment.
        a.button.button--outline(href="../pdfs/D-Cent-final-spreads.pdf") Download the D-CENT ToolBox

  .step-list-container
    ul.step-list
      li.step-item.step-item--setup
        .step-item__icon.icon--setup
        .step-item__text
          strong Set up D-CENT
          | and connect securely to all tools and applications
      li.step-item.step-item--propose
        .step-item__icon.icon--propose
        .step-item__text
          strong Propose and draft
          | solutions and policy collaboratively
      li.step-item.step-item--notify
        .step-item__icon.icon--notified
        .step-item__text
          strong Be notified
          | and keep informed on issues that matter to you
      li.step-item.step-item--decide
        .step-item__icon.icon--decide
        .step-item__text
          strong Decide and vote
          | on solutions collectively
      li.step-item.step-item--reward
        .step-item__icon.icon--reward
        .step-item__text
          strong Implement and reward
          | everyone while tracking progress

  .tabs
    input#setup-tab(type='radio', name='tabs', onclick="highlightStage('step-item--setup', 'purple')")
    label(for='setup-tab')
      // a(href="" onclick="trackOutboundLink(''); return false;")
      .step-item__arrow.icon--setup-arrow#setup-arrow
    input#propose-tab(type='radio', name='tabs', onclick="highlightStage('step-item--propose', '#4AC8CE')")
    label(for='propose-tab')
      .step-item__arrow.icon--propose-arrow#propose-arrow
    input#notify-tab(type='radio', name='tabs', onclick="highlightStage('step-item--notify', '#FFDB22')")
    label(for='notify-tab')
      .step-item__arrow.icon--notified-arrow#notify-arrow
    input#decide-tab(type='radio', name='tabs', onclick="highlightStage('step-item--decide', '#007E84')")
    label(for='decide-tab')
      .step-item__arrow.icon--decide-arrow#decide-arrow
    input#reward-tab(type='radio', name='tabs' onclick="highlightStage('step-item--reward', '#FF69E8')")
    label(for='reward-tab')
      .step-item__arrow.icon--reward-arrow#reward-arrow
    #setup-content.tab-content
      h3 Common open authentication
      p An open authentication and identity management tool called Stonecutter, which provides a single sign on for using the D-CENT tools and applications.
      .product-links(class=linkClass)
      a.button(href="../pdfs/setting-up-d-cent.pdf") More info
      a.button(href="https://github.com/d-cent/stonecutter" onclick="trackOutboundLink('https://github.com/d-cent/stonecutter'); return false;") Github
    #propose-content.tab-content
      h3 Collaborative policy making
      p A policy drafting tool that allows organisations to work with their members to produce transparent and crowd-sourced policies. The platform allows a wider community to shape and inform the policy drafts, thus creating a more transparent and open method of producing policy documents than the traditional method.
      .product-links(class=linkClass)
      a.button(href="../pdfs/Collaborative-policy-making.pdf") More info
      a.button(href="https://github.com/d-cent/objective8" onclick="trackOutboundLink('https://github.com/d-cent/objective8'); return false;") Github
      br
      br
      h3 Madrid citizens initiatives
      p An open consultation and direct democracy platform launched by the Ahora Madrid coalition after the recent municipal elections which enables citizens to propose, debate, prioritise and implement policy for the city.
      .product-links(class=linkClass)
      a.button(href="../pdfs/Collaborative-policy-making.pdf") More info
      a.button(href="https://decide.madrid.es/" onclick="trackOutboundLink('https://decide.madrid.es/'); return false;") Demo
      a.button(href="https://github.com/consul/consul" onclick="trackOutboundLink('https://github.com/consul/consul'); return false;") Github
      br
      br
      h3 Barcelona collective deliberations
      p A participation platform for citizens to engage with the City of Barcelona. The aim of the tool is to build a democratic, open and transparent city by enhancing citizen participation in the definition and development of policies.
      .product-links(class=linkClass)
      a.button(href="../pdfs/Collaborative-policy-making.pdf") More info
      a.button(href="http://decidim.barcelona" onclick="trackOutboundLink('http://decidim.barcelona'); return false;") Demo
      a.button(href="https://github.com/podemos-info/participa" onclick="trackOutboundLink('https://github.com/podemos-info/participa'); return false;") Github
      br
      br
      h3 Citizen priorities
      p A participation platform that enables citizens to propose, discuss and prioritise issues to be addressed in their city. Currently used in 40 projects across the world, including in the Icelandic capital Reykjavik, it allows large groups to speak with one voice and organise with ideas via a unique debate and prioritisation system that maximises consensus.
      .product-links(class=linkClass)
      a.button(href="../pdfs/Collaborative-policy-making.pdf") More info
      a.button(href="http://www.your-priorities-preview.org" onclick="trackOutboundLink('http://www.your-priorities-preview.org'); return false;") Demo
      a.button(href="https://github.com/rbjarnason/your-priorities" onclick="trackOutboundLink('https://github.com/rbjarnason/your-priorities'); return false;") Github
    #notify-content.tab-content
      h3 Helsinki citizen notifications
      p A notification service that lets citizens sign up to receive information on municipal decisions of interest to them. Currently in use in Helsinki, it also offers citizens the opportunity to participate in decisions that involve their municipality, and crowdsources content that can then be used in the decision-making process.
      .product-links(class=linkClass)
      a.button(href="../pdfs/Citizen-notification.pdf") More info
      a.button(href="http://decisions.okf.fi" onclick="trackOutboundLink('http://decisions.okf.fi'); return false;") Demo
      a.button(href="https://github.com/ThoughtWorksInc/helsinki" onclick="trackOutboundLink('https://github.com/d-cent/decisionsproto'); return false;") Github
      br
      br
      h3 Secure notifications engine
      p A tool called Mooncake that securely notifies an organisation’s members of events and activity in its D-CENT ecosystem.
      .product-links(class=linkClass)
      a.button(href="../pdfs/Citizen-notification.pdf") More info
      a.button(href="https://github.com/d-cent/mooncake" onclick="trackOutboundLink('https://github.com/d-cent/mooncake'); return false;") Github
    #decide-content.tab-content
      h3 Electronic voting
      p An open source online voting tool that allows democratic decision-making in groups of all kinds.Organisations can use the software to carry out secure, flexible and transparent elections.
      .product-links(class=linkClass)
      a.button(href="../pdfs/electronic-voting.pdf") More info
      a.button(href="https://agoravoting.com" onclick="trackOutboundLink('https://agoravoting.com'); return false;") Demo
      a.button(href="https://github.com/agoravoting" onclick="trackOutboundLink('https://github.com/agoravoting'); return false;") Github
    #reward-content.tab-content
      h3 Blockchain reward system
      p A set of tools that let organisations create a complementary currency using blockchain technology. Using the tools, organisations can run reward schemes that use local currencies and vouchers, and that are transparent and auditable to other organisations. It has been developed for participatory and democratic organisations who want to incentivise participation.
      .product-links(class=linkClass)
      a.button(href="../pdfs/Blockchain-reward-scheme.pdf") More info
      a.button(href="http://freecoin.ch" onclick="trackOutboundLink('http://freecoin.ch'); return false;") Demo
      a.button(href="https://github.com/d-cent/freecoin" onclick="trackOutboundLink('https://github.com/d-cent/freecoin'); return false;") Github

  .middle-container-wrapper#tools
    .product-intro
      h2.section-title D-CENT tools
      p.lede A federated architecture – choose and combine the tools you need for your democratic process.

    .product-grid

      .product-grid__group
        .product-container.product-container--two-thirds
          +addProduct("Collaborative policy making", "", "https://github.com/d-cent/objective8", "product--collaborative-policy", "", "", "icon--propose-white", "product__icon--align-right", "product__name__bigger-font", true, "product__description--narrow")
            | Propose ideas and collaborate on policy drafting
        .product-container
          +addProduct("Citizens notifications", "http://decisions.okf.fi", "https://github.com/d-cent/decisionsproto", "product--citizens-notifications", "", "product-links--align-right", "icon--notified-white")
          +addProduct("Madrid citizens initiatives", "https://decide.madrid.es", "https://github.com/AyuntamientoMadrid/participacion", "product--collaborative-policy-mad", "", "", "icon--propose-white")

      .product-grid__group.product-grid__group--medium-full
        .product-container.product-container--two-thirds
          .product-grid__sub-group
            +addProduct("Blockchain Reward scheme", "http://freecoin.ch", "https://github.com/d-cent/freecoin", "product--block-chain", "", "product-links--align-right", "icon--reward-white", "", "product__name__medium-font", true)
              | Complementary currency toolkit
            +addProduct("Citizen priorities and budgeting", "http://www.your-priorities-preview.org", "https://github.com/rbjarnason/your-priorities", "product--collaborative-policy-rey", "", "", "icon--propose-white", "", "product__name__medium-font", true)
              | Participation platform for the city of  Reykjavik
        .product-container
          +addProduct("Barcelona collective deliberation", "http://decidim.barcelona", "https://github.com/podemos-info/participa", "product--collaborative-policy-bar", "", "", "icon--propose-white")
          +addProduct("Electronic Voting", "https://agoravoting.com", "https://github.com/agoravoting", "product--electronic-voting", "", "", "icon--decide-white")

      .product-grid__group
        .product-container
          +addProduct("Secure notifications engine", "", "https://github.com/d-cent/mooncake", "product--secure-notifications", "", "product-links--align-right", "icon--notified-white", "", "product__name__medium-font")
        .product-container.product-container--two-thirds
          +addProduct("Common open authentication", "", "https://github.com/d-cent/stonecutter", "product--open-auth product--full-width", "", "", "icon--open-white", "product__icon--align-right", "product__name__bigger-font", true)
            | Open authentication and identity management. One log-in for using D-CENT tools and applications


  .middle-container-wrapper--dark
    .middle-container
      .facts
        .fact-header
          h2.fact-headline Why you should use D-CENT
          p.fact-subheading
            | We are developing a federated architecture based on open standards, open APIs and a shared identity system to allow for the growth of an eco-system of modular, interoperable and decentralised tools
        .facts__row
          .fact-item
            .fact-item__icon.icon-data
            p.fact-item-headline
              strong Own your data
            p.fact-item-subheading
              | to say no to surveillance and give back citizens control and ownership of data
          .fact-item
            .fact-item__icon.icon-open
            p.fact-item-headline
              strong Open source and open standards
            p.fact-item-subheading
              | to build and grow knowledge commons
        .facts__row
          .fact-item
            .fact-item__icon.icon-distribution
            p.fact-item-headline
              strong Open authentication and distributed identity management
            p.fact-item-subheading
              | to grow an open source eco-system of citizen engagement tools
          .fact-item
            .fact-item__icon.icon-blockchain
            p.fact-item-headline
              strong Blockchain trust
            p.fact-item-subheading
              | to let people run reward schemes that are transparent and auditable


  .middle-container-wrapper.middle-container-wrapper--light
    .middle-container
      .tool_list
        h2.section-title D-CENT tools in action
        .tool-item
          a.tool-item__link(href="http://decidim.barcelona" onclick="trackOutboundLink('http://decidim.barcelona'); return false;")
            .tool-item__image
              +imageIncludeTag('screenshots/barcelona.png', 'tool-item__image-img', {alt: 'Barcelona screenshot'})
            .tool-item__text
              h3.tool-item__title Barcelona
              p.tool-item__description Digital platform for participation of the City of Barcelona. It is a tool to build a democratic, open and transparent city by enhancing citizen participation in the definition and development of policies.
              .button Visit

        .tool-item
          a.tool-item__link(href="https://betrireykjavik.is/" onclick="trackOutboundLink('https://betrireykjavik.is/'); return false;")
            .tool-item__image
              +imageIncludeTag('screenshots/reykjavik.png', 'tool-item__image-img', {alt: 'Reykjavik screenshot'})
            .tool-item__text
              h3.tool-item__title Reykjavik
              p.tool-item__description Participatory budgeting platform for the city of Reykjavik. The platform is a development from the Betri Reykjavik prioritisation and participation platform allowing citizens to submit ideas on how to spend a part of the city budget in their neighborhood.
              .button Visit

        .tool-item
          a.tool-item__link(href="http://decisions.okf.fi" onclick="trackOutboundLink('http://decisions.okf.fi'); return false;")
            .tool-item__image
              +imageIncludeTag('screenshots/helsinki.png', 'tool-item__image-img', {alt: 'Helsinki screenshot'})
            .tool-item__text
              h3.tool-item__title Helsinki
              p.tool-item__description Notifications of municipal policy decisions. Using the municipal open API on town hall agendas, the platform allows citizens to sign up to be notified when decisions are made about issues that concern them.
              .button Visit

        .tool-item
          a.tool-item__link(href="https://decide.madrid.es/" onclick="trackOutboundLink('https://decide.madrid.es/'); return false;")
            .tool-item__image
              +imageIncludeTag('screenshots/madrid.png', 'tool-item__image-img', {alt: 'Madrid screenshot'})
            .tool-item__text
              h3.tool-item__title Madrid
              p.tool-item__description Open consultation and direct democracy platform. Launched by the Ahora Madrid coalition after the recent municipal elections, citizens are able to propose, debate, prioritise and implement policy for the city.
              .button Visit

  .social-links
    ul.social-links-list
      li.social-link: a.social-link__link.icon--dcent(href="http://dcentproject.eu" onclick="trackOutboundLink('http://dcentproject.eu'); return false;")
        .social-link__text DCENT Project
      li.social-link: a.social-link__link.icon--email(href="mailto:info@dcentproject.eu")
        .social-link__text Email
      li.social-link: a.social-link__link.icon--twitter(href="https://www.twitter.com/dcentproject" onclick="trackOutboundLink('https://www.twitter.com/dcentproject'); return false;")
        .social-link__text Twitter

  .project-partners
    h2.section-title.section-title--light Project partners
    ul.project-partner-list
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/NESTA.png', 'project-partner__img', {alt: 'NESTA logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/ThoughtWorks.png', 'project-partner__img', {alt: 'ThoughtWorks logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/Dyne.png', 'project-partner__img', {alt: 'Dyne logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/CitizensFoundation.png', 'project-partner__img', {alt: 'Citizens Foundation logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/UOC.png', 'project-partner__img', {alt: 'UOC logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/ForumVirium.png', 'project-partner__img', {alt: 'Forum Virium logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/W3C.png', 'project-partner__img', {alt: 'W3C logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/CES.png', 'project-partner__img', {alt: 'CES logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/IMMI.png', 'project-partner__img', {alt: 'IMMI logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/OKFN.png', 'project-partner__img', {alt: 'OKFN logo'})

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-60048456-2', 'auto');
    ga('send', 'pageview');

  script.
    var trackOutboundLink = function(url) {
      ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
        function () {
        document.location = url;
        }
      });
    }

  script.
    var highlightStage = function(className, color) {
      document.getElementsByClassName('step-item--setup')[0].style.cssText = '-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none';
      document.getElementsByClassName('step-item--propose')[0].style.cssText = '-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none';
      document.getElementsByClassName('step-item--notify')[0].style.cssText = '-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none';
      document.getElementsByClassName('step-item--decide')[0].style.cssText = '-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none';
      document.getElementsByClassName('step-item--reward')[0].style.cssText = '-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none';
      document.getElementsByClassName(className)[0].style.cssText = '-webkit-box-shadow:0 0 20px ' + color + '; -moz-box-shadow: 0 0 20px ' + color + '; box-shadow:0 0 20px ' + color;
    }
