extends layout/layout

mixin addProduct(title, demoURL, gitURL, productClass, textClass, linkClass)
  .product(class=productClass)
    .product__text(class=textClass)
      h2.product__name #{title}
      p.product__description
        block
    ul.product-links(class=linkClass)
      li.product-links__item: a.button.button--full-width.button--outline(href="#{demoURL}") Demo
      li.product-links__item: a.button.button--full-width.button--outline(href="#{gitURL}") Github


block vars
  - bodyClass = ""

block title
  | D-CENT

block headerScripts

block content
  .header(role="banner")
    .header__inner.middle-container
      .header__logo
        span.visuallyhidden D-Cent
      h1.page_title.page_title--shadow Technologies for 21st Century democracy
      .header__intro
        p.lede.lede--shadow D-CENT is a Europe-wide project creating privacy-aware tools and applications for direct democracy and economic empowerment.
        a.button.button--white(href="http://dcentproject.eu") Read more

  .step-list-container
    ul.step-list
      li.step-item
        .step-item__icon.icon--notified
        .step-item__text
          strong Be notified
          = " "
          | and keep informed on issues that matter to you
      li.step-item
        .step-item__icon.icon--propose
        .step-item__text
          strong Propose and draft
          = " "
          | solutions and policy collaboratively
      li.step-item
        .step-item__icon.icon--decide
        .step-item__text
          strong Decide and vote
          = " "
          | on solutions collectively
      li.step-item
        .step-item__icon.icon--reward
        .step-item__text
          strong Implement and reward
          = " "
          | everyone while tracking progress

  .middle-container-wrapper#tools
    .product-intro
      h2.section-title D-CENT tools
      p.lede A federated architecture – chose and combine the tools you need for your democratic process.

    .product-grid

      .product-grid__group
        .product-container.product-container--two-thirds
          +addProduct("Secure Notifications", "https://decisions.dcentproject.eu", "https://github.com/ThoughtWorksInc/HelsinkiActivityStream", "product--secure-notifications", "", "product-links--align-right")
            | Get notified on issues and decisions that are relevant to you
        .product-container
          +addProduct("Collaborative policy making", "https://objective8.dcentproject.eu", "https://github.com/ThoughtWorksInc/objective8", "product--collaborative-policy")
            | Propose ideas and collaborate on policy drafting

      .product-grid__group.product-grid__group--medium-full
        .product-container
          +addProduct("Electronic voting", "https://agoravoting.com", "https://github.com/agoravoting", "product--electronic-voting", "")
            | Secure electronic voting system
        .product-container.product-container--two-thirds
          .product-grid__sub-group
            +addProduct("Citizens initiative", "https://decide.madrid.es", "https://github.com/AyuntamientoMadrid/participacion", "product--collaborative-policy")
              | Citizen initiative platform for the municipality of Madrid
            +addProduct("Collective Deliberation", "https://participa.barcelonaencomu.cat/ca", "https://github.com/podemos-info/participa", "product--collaborative-policy")
              | Citizen deliberation platform for the municipality of Barcelona
          .product-grid__sub-group
            +addProduct("Citizen priorities and budgeting ", "https://demo.yrpri.org", "https://github.com/rbjarnason/your-priorities", "product--collaborative-policy")
              | Prioritisation and participatory budgeting platform for Reykjavik
            +addProduct("Blockchain reward scheme", "http://freecoin.ch", "https://github.com/d-cent/freecoin", "product--block-chain")
              | Complementary currency toolkit

      .product-grid__group
        .product-container
          +addProduct("Secure notifications ", "https://mooncake.dcentproject.eu", "https://github.com/ThoughtWorksInc/mooncake", "product--funky", "", "product-links--align-right")
            | Add notifications to your participation tools.
        .product-container.product-container--two-thirds
          +addProduct("Common open authentication", "https://sso.dcentproject.eu", "https://github.com/ThoughtWorksInc/stonecutter", "product--funky product--full-width", "", "product-links--align-right")
            | Open authentication and identity management. One log-in for using D-CENT tools and other applications

  .middle-container-wrapper--dark
    .middle-container
      .facts
        .fact-header
          h2.fact-headline Why you should use D-CENT
        .facts__row
          .fact-item
            .fact-item__icon.icon-data
            p.fact-item_text
              strong Citizens ownership of data
              = " "
              | give back citizens control and ownership of data, say no to surveillance
          .fact-item
            .fact-item__icon.icon-open
            p.fact-item_text
              strong Open source and open standards
              = " "
              | build and grow knowledge commons, say no to lock-ins
        .facts__row
          .fact-item
            .fact-item__icon.icon-distribution
            p.fact-item_text
              strong Open authentication and distributed identity management
              = " "
              | grow an eco-system of open tools, say no to corporate ownership of online identities
          .fact-item
            .fact-item__icon.icon-blockchain
            p.fact-item_text
              strong Blockchain trust
              = " "
              | reward citizens for work done in a manner that is transparent and auditable, say no to exploitation


  .middle-container-wrapper.middle-container-wrapper--light
    .middle-container
      .tool_list
        h2.section-title D-CENT tools in action
        .tool-item
          a.tool-item__link(href="https://participa.barcelonaencomu.cat/ca")
            .tool-item__image
              +imageIncludeTag('screenshots/barcelona.png', 'tool-item__image-img', {alt: 'Barcelona screenshot'})
            .tool-item__text
              h3.tool-item__title Barcelona
              p.tool-item__description Participation platform of Barcelona en Comú, opening the political coalition for horizontal participation by citizens, and used for collaborative drafting of their ethical code leading up to their victory in the municipal elections.
              .button Visit

        .tool-item
          a.tool-item__link(href="https://betrireykjavik.is/")
            .tool-item__image
              +imageIncludeTag('screenshots/reykjavik.png', 'tool-item__image-img', {alt: 'Reykjavik screenshot'})
            .tool-item__text
              h3.tool-item__title Reykjavik
              p.tool-item__description Participatory budgeting platform for the city of Reykjavik. The platform is a development from the Betri Reykjavik prioritisation and participation platform allowing citizens to submit ideas on how to spend a part of the city budget in their neighborhood.
              .button Visit

        .tool-item
          a.tool-item__link(href="https://decisions.dcentproject.eu/")
            .tool-item__image
              +imageIncludeTag('screenshots/helsinki.png', 'tool-item__image-img', {alt: 'Helsinki screenshot'})
            .tool-item__text
              h3.tool-item__title Helsinki
              p.tool-item__description Notifications of municipal policy decisions. Using the municipal open API on town hall agendas, the platform allows citizens to sign up to be notified when decisions are made about issues that concern them.
              .button Visit

        .tool-item
          a.tool-item__link(href="https://decide.madrid.es/")
            .tool-item__image
              +imageIncludeTag('screenshots/madrid.png', 'tool-item__image-img', {alt: 'Madrid screenshot'})
            .tool-item__text
              h3.tool-item__title Madrid
              p.tool-item__description Open consultation and direct democracy platform. Launched by the Ahora Madrid coalition after the recent municipal elections, citizens are able to propose, debate, prioritise and implement policy for the city.
              .button Visit

  .social-links
    ul.social-links-list
      li.social-link: a.social-link__link.icon--email(href="mailto:info@dcentproject.eu")
        .social-link__text Email
      li.social-link: a.social-link__link.icon--twitter(href="https://www.twitter.com/dcentproject")
        .social-link__text Twitter

  .project-partners
    h2.section-title.section-title--light Project partners
    ul.project-partner-list
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/NESTA.png', 'project-partner__img', {alt: 'NESTA logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/ThoughtWorks.png', 'project-partner__img', {alt: 'ThoughtWorks logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/Dyne.png', 'project-partner__img', {alt: 'Dyne logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/CitizensFoundation.png', 'project-partner__img', {alt: 'Citizens Foundation logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/UOC.png', 'project-partner__img', {alt: 'UOC logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/ForumVirium.png', 'project-partner__img', {alt: 'Forum Virium logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/W3C.png', 'project-partner__img', {alt: 'W3C logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/CES.png', 'project-partner__img', {alt: 'CES logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/IMMI.png', 'project-partner__img', {alt: 'IMMI logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/OKFN.png', 'project-partner__img', {alt: 'OKFN logo'})
