extends layout/layout

mixin addProduct(title, demoURL, gitURL, productClass, textClass, linkClass, productIconClass, productIconAlignClass, productNameFontSizeClass, hasDescription, narrowDescriptionClass)
  .product(class=productClass, id=productClass)
    .product__text(class=textClass)
      .product__header
        .product__icon(class=productIconClass, class=productIconAlignClass)
        h2.product__name(class=productNameFontSizeClass) #{title}
      if hasDescription
        p.product__description(class=narrowDescriptionClass)
          block
    .product-links(class=linkClass)
      .product-links__item: a.button.button--full-width.button--outline(href="#{demoURL}" onclick="trackOutboundLink('#{demoURL}'); return false;") Demo
      .product-links__item: a.button.button--full-width.button--outline(href="#{gitURL}" onclick="trackOutboundLink('#{gitURL}'); return false;") Github


block vars
  - bodyClass = ""

block title
  | D-CENT

block headerScripts

block content
  .header(role="banner")
    .header__inner.middle-container
      .header__logo
        span.visuallyhidden D-Cent
      h1.page_title.page_title--shadow Technologies for 21st Century democracy
      .header__intro
        p.lede.lede--shadow D-CENT is a Europe-wide project creating open, secure and privacy-aware tools for direct democracy and economic empowerment.
        //a.button.button--white(href="http://dcentproject.eu" onclick="trackOutboundLink('http://dcentproject.eu'); return false;) Read more

  .step-list-container
    ul.step-list
      li.step-item.step-item--notify
        .step-item__icon.icon--notified
        .step-item__text
          strong Be notified
          = " "
          | and keep informed on issues that matter to you
        a(href="#product--citizens-notifications" onclick="trackOutboundLink('#product--citizens-notifications'); return false;")
          .step-item__arrow.icon--notified-arrow
      li.step-item.step-item--propose
        .step-item__icon.icon--propose
        .step-item__text
          strong Propose and draft
          = " "
          | solutions and policy collaboratively
        a(href="#product--collaborative-policy" onclick="trackOutboundLink('#product--collaborative-policy'); return false;")
          .step-item__arrow.icon--propose-arrow
      li.step-item.step-item--decide
        .step-item__icon.icon--decide
        .step-item__text
          strong Decide and vote
          = " "
          | on solutions collectively
        a(href="#product--electronic-voting" onclick="trackOutboundLink('#product--electronic-voting'); return false;")
          .step-item__arrow.icon--decide-arrow
      li.step-item.step-item--reward
        .step-item__icon.icon--reward
        .step-item__text
          strong Implement and reward
          = " "
          | everyone while tracking progress
        a(href="#product--block-chain" onclick="trackOutboundLink('#product--block-chain'); return false;")
          .step-item__arrow.icon--reward-arrow

  .middle-container-wrapper#tools
    .product-intro
      h2.section-title D-CENT tools
      p.lede A federated architecture – choose and combine the tools you need for your democratic process.

    .product-grid

      .product-grid__group
        .product-container.product-container--two-thirds
          +addProduct("Collaborative policy making", "https://objective8.dcentproject.eu", "https://github.com/ThoughtWorksInc/objective8", "product--collaborative-policy", "", "", "icon--propose-white", "product__icon--align-right", "product__name__bigger-font", true, "product__description--narrow")
            | Propose ideas and collaborate on policy drafting
        .product-container
          +addProduct("Citizens notifications", "https://decisions.dcentproject.eu", "https://github.com/gtrogers/helsinki", "product--citizens-notifications", "", "product-links--align-right", "icon--notified-white")
          +addProduct("Madrid citizens initiatives", "https://decide.madrid.es", "https://github.com/AyuntamientoMadrid/participacion", "product--collaborative-policy-mad", "", "", "icon--propose-white")

      .product-grid__group.product-grid__group--medium-full
        .product-container.product-container--two-thirds
          .product-grid__sub-group
            +addProduct("Blockchain Reward scheme", "http://freecoin.ch", "https://github.com/d-cent/freecoin", "product--block-chain", "", "product-links--align-right", "icon--reward-white", "", "product__name__medium-font", true)
              | Complementary currency toolkit
            +addProduct("Citizen priorities and budgeting", "http://www.your-priorities-preview.org", "https://github.com/rbjarnason/your-priorities", "product--collaborative-policy-rey", "", "", "icon--propose-white", "", "product__name__medium-font", true)
              | Participation platform for the city of  Reykjavik
        .product-container
          +addProduct("Barcelona collective deliberation", "http://preprograma.barcelonaencomu.cat", "https://github.com/podemos-info/participa", "product--collaborative-policy-bar", "", "", "icon--propose-white")
          +addProduct("Electronic Voting", "https://agoravoting.com", "https://github.com/agoravoting", "product--electronic-voting", "", "", "icon--decide-white")

      .product-grid__group
        .product-container
          +addProduct("Secure notifications engine", "https://mooncake.dcentproject.eu", "https://github.com/ThoughtWorksInc/mooncake", "product--secure-notifications", "", "product-links--align-right", "icon--open-white", "", "product__name__medium-font")
        .product-container.product-container--two-thirds
          +addProduct("Common open authentication", "https://sso.dcentproject.eu", "https://github.com/ThoughtWorksInc/stonecutter", "product--open-auth product--full-width", "", "", "icon--open-white", "product__icon--align-right", "product__name__bigger-font", true)
            | Open authentication and identity management. One log-in for using D-CENT tools and applications


  .middle-container-wrapper--dark
    .middle-container
      .facts
        .fact-header
          h2.fact-headline Why you should use D-CENT
          p.fact-subheading
            | We are developing a federated architecture based on open standards, open APIs and a shared identity system to allow for the growth of an eco-system of modular, interoperable and decentralised tools
        .facts__row
          .fact-item
            .fact-item__icon.icon-data
            p.fact-item-headline
              strong Own your data
            p.fact-item-subheading
              | to say no to surveillance and give back citizens control and ownership of data
          .fact-item
            .fact-item__icon.icon-open
            p.fact-item-headline
              strong Open source and open standards
            p.fact-item-subheading
              | to build and grow knowledge commons
        .facts__row
          .fact-item
            .fact-item__icon.icon-distribution
            p.fact-item-headline
              strong Open authentication and distributed identity management
            p.fact-item-subheading
              | to grow an open source eco-system of citizen engagement tools
          .fact-item
            .fact-item__icon.icon-blockchain
            p.fact-item-headline
              strong Blockchain trust
            p.fact-item-subheading
              | to let people run reward schemes that are transparent and auditable


  .middle-container-wrapper.middle-container-wrapper--light
    .middle-container
      .tool_list
        h2.section-title D-CENT tools in action
        .tool-item
          a.tool-item__link(href="https://participa.barcelonaencomu.cat/ca" onclick="trackOutboundLink('https://participa.barcelonaencomu.cat/ca'); return false;")
            .tool-item__image
              +imageIncludeTag('screenshots/barcelona.png', 'tool-item__image-img', {alt: 'Barcelona screenshot'})
            .tool-item__text
              h3.tool-item__title Barcelona
              p.tool-item__description Participation platform of Barcelona en Comú, opening the political coalition for horizontal participation by citizens, and used for collaborative drafting of their ethical code leading up to their victory in the municipal elections.
              .button Visit

        .tool-item
          a.tool-item__link(href="https://betrireykjavik.is/" onclick="trackOutboundLink('https://betrireykjavik.is/'); return false;")
            .tool-item__image
              +imageIncludeTag('screenshots/reykjavik.png', 'tool-item__image-img', {alt: 'Reykjavik screenshot'})
            .tool-item__text
              h3.tool-item__title Reykjavik
              p.tool-item__description Participatory budgeting platform for the city of Reykjavik. The platform is a development from the Betri Reykjavik prioritisation and participation platform allowing citizens to submit ideas on how to spend a part of the city budget in their neighborhood.
              .button Visit

        .tool-item
          a.tool-item__link(href="https://decisions.dcentproject.eu/" onclick="trackOutboundLink('https://decisions.dcentproject.eu/'); return false;")
            .tool-item__image
              +imageIncludeTag('screenshots/helsinki.png', 'tool-item__image-img', {alt: 'Helsinki screenshot'})
            .tool-item__text
              h3.tool-item__title Helsinki
              p.tool-item__description Notifications of municipal policy decisions. Using the municipal open API on town hall agendas, the platform allows citizens to sign up to be notified when decisions are made about issues that concern them.
              .button Visit

        .tool-item
          a.tool-item__link(href="https://decide.madrid.es/" onclick="trackOutboundLink('https://decide.madrid.es/'); return false;")
            .tool-item__image
              +imageIncludeTag('screenshots/madrid.png', 'tool-item__image-img', {alt: 'Madrid screenshot'})
            .tool-item__text
              h3.tool-item__title Madrid
              p.tool-item__description Open consultation and direct democracy platform. Launched by the Ahora Madrid coalition after the recent municipal elections, citizens are able to propose, debate, prioritise and implement policy for the city.
              .button Visit

  .social-links
    ul.social-links-list
      li.social-link: a.social-link__link.icon--dcent(href="http://dcentproject.eu" onclick="trackOutboundLink('http://dcentproject.eu'); return false;")
        .social-link__text DCENT Project
      li.social-link: a.social-link__link.icon--email(href="mailto:info@dcentproject.eu")
        .social-link__text Email
      li.social-link: a.social-link__link.icon--twitter(href="https://www.twitter.com/dcentproject" onclick="trackOutboundLink('https://www.twitter.com/dcentproject'); return false;")
        .social-link__text Twitter

  .project-partners
    h2.section-title.section-title--light Project partners
    ul.project-partner-list
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/NESTA.png', 'project-partner__img', {alt: 'NESTA logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/ThoughtWorks.png', 'project-partner__img', {alt: 'ThoughtWorks logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/Dyne.png', 'project-partner__img', {alt: 'Dyne logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/CitizensFoundation.png', 'project-partner__img', {alt: 'Citizens Foundation logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/UOC.png', 'project-partner__img', {alt: 'UOC logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/ForumVirium.png', 'project-partner__img', {alt: 'Forum Virium logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/W3C.png', 'project-partner__img', {alt: 'W3C logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/CES.png', 'project-partner__img', {alt: 'CES logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/IMMI.png', 'project-partner__img', {alt: 'IMMI logo'})
      li.project-partner: a.project-partner__link(href="#")
        +imageIncludeTag('partner-logos/OKFN.png', 'project-partner__img', {alt: 'OKFN logo'})

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-60048456-2', 'auto');
    ga('send', 'pageview');

  script.
    var trackOutboundLink = function(url) {
      ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
        function () {
        document.location = url;
        }
      });
    }
