extends layout/layout

mixin addProduct(title, demoURL, gitURL, productClass, linkClass)
  .product(class=productClass)
    .product__text
      h2.product__name #{title}
      p.product__description
        block
    ul.product-links(class=linkClass)
      li.product-links__item: a.button.button--full-width.button--outline(href="#{demoURL}") Demo
      li.product-links__item: a.button.button--full-width.button--outline(href="#{gitURL}") Github


block vars
  - bodyClass = ""

block title
  | D-CENT

block headerScripts

block content
  .header(role="banner")
    .header__inner.middle-container
      .header__logo
        span.visuallyhidden D-Cent
      h1.page_title.page_title--shadow Technologies for the 21st Century democracy
      .header__intro
        p.lede.lede--shadow D-CENT is a Europe-wide project creating privacy-aware tools and applications for direct democracy and economic empowerment.
        a.button.button--white(href="#readmore") Read more

  .main-content
    .facts
      .fact-header
        h2.fact-headline A federated architecture
        p.fact-description on open standards, open APIs and a shared identity system to allow for the growth of an eco-system of modular, interoperable and decentralised tools
      .facts__row
        .fact-item
          .fact-item__icon.icon-data
          p.fact-item_text
            strong Citizens ownership of data
            = " "
            | to say no to surveillance and economic exploration of our data and knowledege and give back citizens control and ownership
        .fact-item
          .fact-item__icon.icon-open
          p.fact-item_text
            strong Open source and open standards
            = " "
            | to share knowledge
      .facts__row
        .fact-item
          .fact-item__icon.icon-distribution
          p.fact-item_text
            strong Shared and distributed authentication and identity management
            = " "
            | to grow the eco-system
        .fact-item
          .fact-item__icon.icon-blockchain
          p.fact-item_text
            strong Blockchain trust
            = " "
            | to let people run reward schemes that are transparent auditable to other organisations

  .product-grid-container
    .product-grid
      .product-grid__group.product-grid__group--two-thirds
        .product-grid__sub-group
          +addProduct("Mooncake", "#demo", "#gitURL", "product--full-width", "product-links--align-right")
            | Secure notifications - get notified on issues and decisions that are relevant to you
          +addProduct("Freecoin", "#demo", "#gitURL")
            | Complementary currency toolkit
          +addProduct("Objective8", "#demo", "#gitURL")
            | Propose ideas and collaborate on policy drafting
      .product-grid__group
        +addProduct("Electronic voting", "#demo", "#gitURL")
          | Secure electronic voting system
      +addProduct("Stonecutter", "#demo", "#gitURL", "product--full-width", "product-links--align-right")
        | Open authentication and identity management. One log-in for using D-CENT tools and other applications
